.cards-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 3rem;
}

.card-box {
    margin: 1rem;
    margin-bottom: 2rem;
}

.swiper-container {
    height: 275px; 
    width: 275px;
    overflow: hidden;
}

.card-img {
    height: 275px;
    width: 275px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card-info-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.card-rating {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.card-title,
.card-rating p {
    margin-bottom: 0.2rem;
}